.leftbar {
  position: sticky;
  top: 3.6rem;
  background: var(--color-card);
  height: calc(100vh - 3.6rem);
  overflow: auto;
}

.leftbar::-webkit-scrollbar {
  display: none;
}

.left-container {
  width: 80%;
  margin: 0 auto;
}
.left-container .user {
  margin-top: 20px;
}

.left-container .item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.left-container .item img {
  width: 28px;
}

hr {
  background: var(--color-border);
  border: none;
  height: 0.4px;
  margin-bottom: 20px;
}

.others {
  color: var(--color-soft);
  font-size: 0.9rem;
}

/* responsoive  */

@media (max-width: 1024px) {
  .left-container {
    width: fit-content;
  }

  .left-container h4{
    display: none;
  }
}


@media (max-width:768px){
    .leftbar{
        display: none;

    }
}