.request{
    background: var(--color-card);
    margin-top: 1rem;
    padding: 14px;
    border-radius: 1rem;
    display: flex;
    
    gap: .5rem;
    flex-direction: column  ;
}


.request h5{
    font-size: .9rem;
}
.request .action{
    display: flex;
    align-items:center ;
    gap: 5px;
}