*{
  margin: 0;
  padding: 0;
  text-align: border-box;
  text-align: none;
  list-style: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
}

:root{
  --color-primary:#6c63ff;
  --text-color:black;
  --color-bg:rgb(236,236,236);
  --color-card:white;
  --color-soft:#aaaaaa;
  --color-border:lightgray;
  --color-red:red;
}

.darkmood{
  --text-color:white;
  --color-bg:black;
  --color-card:#111111;
  --color-soft:#aaaaaa;
  --color-border:lightgray;

}

body{
  overflow-x:hidden ;
}

.container{
  max-width:991px;
  width:100%;
 margin: 0 auto;
}

h1,h2,h3,h4,h5{
  font-weight: 600;
  color: var(--text-color);
}

img{
  width:100%;
  display: block;
  object-fit: cover;
}

.user{
  display:flex;
  align-items: center;
  gap: 10px;

}

.user img{
  width:33px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.user h4{
  color: var(--color-primary);
}

body{
  background: var(--color-bg);
  color:var(--color-soft);
}

small,p{
  color:var(--color-soft);

}

.btn{
  padding: .6rem 1.6rem;
  display:inline-block;
  width: fit-content;
  cursor: pointer;
  border-radius: .5rem;
  font-size: .9rem;
  font-weight: 500;
  transition:.3s ease;
  border: none;

}


.btn:hover{
  opacity:.7;
}

.btn-primary{
  background: var(--color-primary);
  color: white;

}

.btn-red{
  background: var(--color-red);
  color:white;
}

main{
  display: grid;
  grid-template-columns: 20% 54% 23%;
  gap: 3%;
  width: 95%;
}


@media(max-width:1024px){
  main{
    grid-template-columns: 8% 56% 32%;
  }
}


@media(max-width:768px){
  main{
    grid-template-columns: 100%;
  }
  .container{
    width: 94%;
  }
}