*{
  margin: 0;
  padding: 0;
  text-align: border-box;
  text-align: none;
  list-style: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --color-primary:#6c63ff;
  --text-color:black;
  --color-bg:rgb(236,236,236);
  --color-card:white;
  --color-soft:#aaaaaa;
  --color-border:lightgray;
  --color-red:red;
}

.container{
  max-width:991px;
  width:100%;
  color:var(--text-color);
}

img{
  width:100%;
}